<div class="row clear-margins">
    <div class="col-md-8 col-lg-8"><h1 id="welcome">Welcome! </h1></div>
    <div class="col-md-2 col-lg-2">
        <button class="btn btn-primary btn-md" id="logout_btn">LogOut <i class="fa fa-sign-out"
                                                                         aria-hidden="true"></i>
        </button>
    </div>

</div>

<div class="row clear-margins">
    <div class="col-md-2 col-lg-2">
        <button class="btn btn-primary btn-md" id="data-btn">Get Data</button>
    </div>
    <div class="col-md-8 col-lg-8"><p id="data-set"></p></div>

</div>

<p id="info">Your token is :</p>
<script>
    var token = localStorage.getItem("token");
    $("#welcome").text("Welcome " + capitalizeFirstLetter(localStorage.getItem("user")));
    $("#info").text("Your tocken is: " + token + " Parsed jwt: " + jwt_decode(token));

    function capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }

    $("#logout_btn").click(function (event) {
        localStorage.clear();
        localStorage.removeItem("token");
        localStorage.removeItem("user");
        $("#container").load("./component/login-component.html");
    });
    $("#data-btn").click(function (event) {
        var jqxhr = $.ajax({
            url: "http://localhost:8080/backend/admin",
            type: "GET",
            headers: {'Authorization': localStorage.getItem("token")},
            processData: false,

            contentType: "application/json"
        });
        jqxhr.done(function (data) {

            $("#data-set").text(data.data)

        })
        jqxhr.fail(function () {

        })
        jqxhr.always(function (data) {
            console.log(JSON.stringify(data))
        })
    })

</script>
<script src="../js/jwt-decode.min.js"></script>
