<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
                <h4>Welcome back.</h4>
                <input type="text" id="userName" class="form-control input-sm chat-input"
                       placeholder="username"/>
                </br>
                <input type="text" id="userPassword" class="form-control input-sm chat-input"
                       placeholder="password"/>
                </br>
                <div class="wrapper">
            <span class="group-btn">
                <button class="btn btn-primary btn-md" id="login-btn">login <i
                        class="fa fa-sign-in"></i></button>
            </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $("button").click(function (event) {
        event.preventDefault();
        var username = $("#userName").val();
        var password = $("#userPassword").val();
        var jqxhr = $.ajax({
            url: "http://localhost:8080/login",
            type: "POST",
            processData: false,
            /* dataType: "application/json",*/
            data: JSON.stringify({"username": username, "password": password}),
            contentType: "application/json"
        });
        jqxhr.done(function () {

            var header = jqxhr.getResponseHeader('Authorization');
            console.log(header);

            localStorage.setItem("user", username);
            localStorage.setItem("token", header);
            $("#container").load("./component/home-component.html");
        })
        jqxhr.fail(function () {
            alert("fail")
        })
        jqxhr.always(function (data) {
            console.log(JSON.stringify(data))
        })
    });
    /*  $.post("http://localhost:8080/login",
          JSON.stringify({"username": username, "password": password}))
      .done(function (data, response) {
        var header = response.getResponseHeader("Authorization");
        console.log(header);
      })*/

</script>